
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
  background-color: rgba(255,255,255,.6);
  filter: blur(5px);
}

header .row {
  text-align: linear;
}



header h1 {
  font-weight: 700;
  margin: 0;
  width: 350px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
  text-align: right center;
}

.jumbotron {
  display: flex;
  align-items: center;
  background: url("img/hill.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;
  height: 960px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #AEE6FF;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #ffd;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}



.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #212BE8;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd134;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
  padding-top: 2px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

footer .row {
  display: flex;
  align-items: center;
}
